* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-orange: #FF9900;
    --bg-white: #FFFFFF;
    --bg-whitegrey: #BCD0E5;
    --bg-beige-: #FFE5D2;
    --color-brown: #2F281E;
    --color-blue: #173A56;
}

body {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    width: 100%;
    min-width: 200px;
    height: 60px;
    padding: 1px 30px;
    justify-content: center;
    background-color: var(--bg-white);
}

.content {
    width: 100%;
    max-width: 1200px;
    display: flex;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.header_nav {
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}

.logo {
    width: 33px;
    height: 30px;
    margin-right: 10px;
}

.logo_name {
    font-size: 24px;
    font-weight: bold;
    color: var(--color-blue);
    margin-right: 40px;
}

.nav_menu {
    max-width: 1200px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
    width: 352px;
    height: 28px;
    margin: 100px;

}

.name {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav_list {
    font-size: 16px;

}

.nav_item {
    text-decoration: none;
    color: var(--color-brown);
    font-weight: 500;
}

.nav_item:hover {
    color: var(--bg-orange);
    transition: all 0.4s;
}

.btn {
    max-width: 1200px;
    display: flex;
    text-decoration: none;
    padding: 10px 41px;
    border-radius: 5px;
    font-size: 16px;
}

.button {
    text-decoration: none;
    max-width: 270px;
    margin: 0 0 0 auto;
    display: flex;
    width: 100%;
    cursor: pointer;

}

button.btn {
    border: none;
    margin-top: 27px;
}

.btn:last-of-type {
    background: var(--bg-orange);
    color: white;
}

.info {
    padding: 20px 20px;
    max-width: 500px;
    max-height: 231px;
}

.hero_text {
    color: var(--color-brown);
    max-width: 1200px;
    font-family: sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 54px;
    width: 100%;

}

.description:nth-last-child(1) {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    max-height: 91px;
    padding-top: 18px;
    font-size: 20px;
    width: 100%;
}