.button {
    color: blueviolet;
}

.btn {
    background-color: #F78D2E;
    width: 176px;
    height: 80px;
    border-radius: 8px;
    padding-top: 24px;
    padding-right: 40px;
    padding-bottom: 24px;
    padding-left: 40px;
    gap: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;

    .btn:hover {
        background-color: #424886;
    }

    &--secondary:hover {
        background-color: aqua;
    }
}