* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-orange: #FF9900;
    --bg-white: #FFFFFF;
    --bg-whitegrey: #BCD0E5;
    --bg-beige: #FFE5D2;
    --color-brown: #2F281E;
    --color-blue: #173A56;
    --main-font: sans-serif, "Montserrat";
}

.main_container {
    justify-content: space-between;
    font-family: var(--main-font);
    margin: 0 auto;
    width: 1440px;
}

.first_screen {
    margin-top: 50px;
    padding-top: 50px;
}

.header_nav {
    width: 1200px;
    gap: 150px;
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    width: 1440px;
    height: 80px;
    margin: 0 auto;
    background-color: var(--bg-white);
}

.nav_menu {
    width: 1200px;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 352px;
}

.content {
    width: 1200px;
    display: flex;
    margin: 0 auto;
}

.container_first_box {
    background-image: url(../img/bg.png);
    background-position: bottom center;
    background-size: cover;
    display: flex;
    padding-top: 17px;
    width: 1440px;
    height: 388.24px;
}

.in_box {
    justify-content: space-between;
    display: flex;
    width: 1200px;
    height: 175px;
}

.container_image_complete {
    margin-top: 60px;
    width: 505px;
    height: 256px;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto;
    width: 1200px;
}

.container_footer {
    justify-content: center;
    margin: 0 auto;
    gap: 100px;
    display: flex;
    width: 1200px;
    padding-top: 100px;
}

.container_registration {
    width: 340px;
    height: 207px;
}

.container_mini_registration {
    width: 280px;
    height: 57px;
}

.container_links {
    display: inline;
    width: 135px;
    height: 209px;
}

.box_down {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-top: 100px;
    gap: 199px;
}


.box_down_third {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 100px;
    gap: 119px;
}

.logo {
    width: 33px;
    height: 30px;
    margin-right: 10px;
}

.logo_name {
    width: 200px;
    height: 32px;
    font-size: 24px;
    font-weight: bold;
    color: var(--color-blue);
    margin-right: 40px;
}

.name {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav_list {
    font-size: 16px;

}

.nav_item {
    text-decoration: none;
    color: var(--color-brown);
    font-weight: 500;
}

.nav_item:hover {
    color: var(--bg-orange);
    transition: all 0.4s;
}

.btn {
    justify-content: center;
    display: flex;
    width: 152px;
    text-decoration: none;
    margin: 9px;
    padding: 10px 41px;
    border-radius: 5px;
    font-size: 16px;
}

.button {
    justify-content: right;
    text-decoration: none;
    display: flex;
}


.btn:nth-of-type(1) {
    background: var(--bg-whitegrey);
    color: white;
    background-color: transparent 0.8;
}

.btn:nth-of-type(2) {
    background: var(--bg-orange);
    color: white;
}

.btn_1 {
    margin-top: 20px;
    border: none;
    width: 170px;
    text-decoration: none;
    padding: 10px 41px;
    border-radius: 5px;
    font-size: 16px;
    background: var(--bg-orange);
    color: white;
}

.btn_2 {
    border: none;
    text-decoration: none;
    width: 180px;
    height: 50px;
    padding: 10px 41px;
    border-radius: 5px;
    font-size: 16px;
    background: var(--bg-orange);
    color: white;
}

.btn_1:nth-of-type() {
    background: var(--color-blue);
    color: white;
}

.button_fix_role {
    margin: 0 auto;
    width: 180px;
    height: 50px;
}

.info {
    padding: 20px 20px;
    height: 231px;
}

.hero_text {
    color: var(--color-brown);
    font-family: var(--main-font);
    font-size: 44px;
    line-height: 54px;
}

.description:nth-last-child(1) {
    font-family: var(--main-font);
    padding-top: 18px;
    font-size: 20px;
    width: 100%;
}

.description_2 {
    width: 539px;
    height: 188px;
    text-align: center;
    font-family: var(--main-font);
    font-size: 36px;
    line-height: 43.88px;
    padding-top: 50px;
}


.sub_img {
    width: 50px;
    height: 51px;
}

.features {
    justify-content: space-around;
    display: inline;
    width: 270px;
    height: 175px;
}

.text {
    font-family: var(--main-font);
    height: 27px;
    font-size: 22px;
    line-height: 26.82px;
    text-align: left;
}

.second_text {
    font-family: var(--main-font);
    margin-top: 10px;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
}

.text_head {
    width: 539px;
    margin: 0 auto;
}

.second_screen {
    padding-top: 80px;
}

.main_parahraf {
    font-family: var(--main-font);
    font-size: 22px;
    line-height: 35px;
    text-align: left;
}

.second_parahraf {
    font-family: var(--main-font);
    font-size: 16px;
    line-height: 26px;
    text-align: left;
}

.main_second_parahraf {
    font-family: var(--main-font);
    font-size: 36px;
    line-height: 43.88px;
    text-align: left;
}

.second_parahraf {
    margin-top: 10px;
    width: 525px;
    height: 78px;
}

.second_parahraf_tag {
    font-family: var(--main-font);
    width: 525px;
    height: 78px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.links {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.quick_links {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.number_field {
    width: 340px;
    height: 50px;
    gap: 10px;
    margin-top: 23px;
    border-radius: 4px;
    padding-right: 10px;
    padding-left: 10px;
    border-width: 1px;
}

.img {
    display: flex;
}

.img_1 {
    display: flex;
    width: 562px;
    height: 573px;
}

.complete_icon {
    width: 35px;
    height: 35px;
}